@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");

* {
  font-family: "Outfit";
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}



/* ----- RESPOSIVE VERSION SETUPS -------- */

/* Base style (Mobile first) */
.container-padding {
  padding-left: 1rem; /* 16px */
  padding-right: 1rem;
}

/* Small screens (sm: 640px and up) */
@media (min-width: 640px) {
  .container-padding {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

/* Medium screens (md: 768px and up) */
@media (min-width: 768px) {
  .container-padding {
    padding-left: 7vw;
    padding-right: 7vw;
  }
}

/* Large screens (lg: 1024px and up) */
@media (min-width: 1024px) {
  .container-padding {
    padding-left: 8vw;
    padding-right: 8vw;
  }
}





/* ---------------FIXED THINGS---------- */

#about,#skill{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.about-tag ,.skill-tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1.875rem;  
  line-height: 2.25rem;    
}

.section-underline{
  width: 15%;
  height: 1.15px;
  background-color: #374151;
  border: none;
}


/*Anchor tag Changes */
a {
  text-decoration: none;
  color: rgb(55 65 81);
}





/* ---------- Navbar ------------ */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  font-weight: 500; 
}

.nav_logo{
  display: flex;
  align-items: center;
}

.logo_img{
  width: 8rem;
}



/* -----------------NAVBAR OPTIONS-------------- */

.navbar-option {
  display: flex;
  gap: 1.5rem;
  font-size: 1.15rem; 
  line-height: 1.25rem;

}

.navbar-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

@media (max-width: 768px) {
  .navbar-button {
    display: none;
  }
}



/* ------------------------UNDER WORKING------------------------------ */

.underline{
  /* display: none; */
  width: 50%;
  height: 1.15px;
  background-color: #374151;
  border: none;
}

/* ---------------------------------------------------------------------- */



.cvDownload{
  border: 1px solid currentColor;
  padding-left: 1.25rem; 
  padding-right: 1.25rem;
  padding-top: 0.5rem; 
  padding-bottom: 0.5rem;
  border-radius: 9999px;
  margin-top: -0.5rem;
}



/* NAVBAR MENU */

#navbar-menu {
  cursor: pointer;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  #navbar-menu {
    display: none;
  }
}




/* ----------------- MAIN ------------------ */

.hero {
  display: flex;
  flex-direction: column;
  border: 1px solid; 
  border-color: #9ca3af;
}

/* Small screens and up (sm: 640px) (Horizontal Row) */
@media (min-width: 640px) {
  .hero {
    flex-direction: row;
  }
}

/* ------------------- HERO AREA -------------- */

.hero-area{
  display: flex;
  width: 100%;
  align-items: center; 
  justify-content: center; 
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

/* Small screens and up (sm: 640px) */
@media (min-width: 640px){
  .hero-area {
    width: 50%;    
    padding-top: 0;
    padding-bottom: 0;
  }
}


/* ------------ HERO TEXT -------------- */

.hero-text{
  color: #414141;
}

/* --- LINE 1 --- */

.hero-line1{
  font-family: "Prata", serif;
  font-weight: 500;
  font-size: 1.75rem; 
  line-height: 1.625;
  text-align: center;
  color: #000000;
}

/* Small screens and up (sm: 640px) */
@media (min-width: 640px){
  .hero-line1 {
    padding-top: 0.75rem;     
  }
}

/* Large screens and up (lg: 1024px) */
@media (min-width: 1024px){
  .hero-line1 {
    font-size: 2rem;         
  }
}

/* ----- LINE 2 ----- */

.hero-line2 {
  font-family: "Prata", serif;
  font-weight: 400;
  font-size: 1.45rem; 
  line-height: 1.625;
  text-align: center;
    color: #212121;
}

/* Small screens and up (sm: 640px) */
@media (min-width: 640px) {
  .hero-line2 { 
    padding-bottom: 0.75rem;
  }
}

/* Large screens and up (lg: 1024px) */
@media (min-width: 1024px) {
  .hero-line2 {
    font-size: 1.75rem;         
  }
}


/* ---- LINE 3 ------- */

.hero-line3 {
  font-weight: 450;
  font-size: 0.875rem;  
  line-height: 1.25rem; 
  padding-top: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

/* Medium screens and up (md: 640px) */
@media (min-width: 640px) {
  .hero-line3 {
    padding-top: 0;
    padding-bottom: 0.75rem;
    font-size: 1rem;  
    line-height: 1.5rem;
  }
}

@media (min-width:1148px) {
  .hero-line3{
  padding-bottom: 0;
}
}


/* ----------- HERO IMAGE ----------- */

.hero-img {
  width: 100%;
}

@media (min-width: 640px){
  .hero-img {
    width: 50%;
    height: 35rem;
  }
}





/* ------ ABOUT ME PART ---------- */

.aboutMe p{
  color: #374151;
  font-weight: 500; 

}

/* ---------ABOUT ME DETAILS------- */

